#features
  %h2 Features

  %ul
    %li Easy match scheduling
    %li League standings and statistics
    %li Player forums and direct messaging
    %li Compact calendar display

#description

  %h2 Great for any 1 vs. 1 sport

  %p
    LeagueTool.com makes it trivial to manage your league.  The automated
    scheduling finds times for players to schedule matches without all
    of the headaches.

  %p
    LeagueTool.com lets players focus on their game, not management.

  %h3 Pricing

  %table
    %thead
      %tr
        %th Platinum
        %th Gold
        %th Silver
        %th Bronze

    %tbody
      %tr
        %td Manage up to 10 leagues
        %td Manage up to 5 leagues
        %td Manage a single league
        %td Manage a single league

      %tr
        %td Unlimited number of players
        %td Unlimited number of players
        %td Unlimited number of players
        %td Up to 7 players allowed

      %tr
        %td $29.95/month
        %td $19.95/month
        %td $9.95/month
        %td FREE
